img{
    max-width: 100%;
}

section{
    padding-top: 1%;
    padding-bottom: 1%;
}

body{
    margin:0px !important;
    font-family: 'Raleway', sans-serif;
    font-family: 'EB Garamond', serif;
    background-color: #EFE3CF;
    filter: drop-shadow(0px 4px 4px #222e22);
}

header{
    margin:0px !important;
    background-color: #EFE3CF;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.navMenu{
    display:flex;
}

.navMenu li{
    list-style: none;
    padding: 20px;   
    font-family: 'raleway', sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
}

.leftNav{
    display:flex;
    align-items: center;
    padding: 0px 15px;

}

.rightNav{
    display:flex;
    align-items: center;
    padding: 0px 15px;
}

.logo{
    display:flex;
    justify-content:left;
}
.myEmail{
    padding: 10px;
}

.myEmail:hover{
transform: scale(1.1,1.1);
}

.linkedIn{
    padding:10px;
}

.linkedIn:hover{
    transform: scale(1.1,1.1);
}

h1{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 6.1rem;
    letter-spacing: .375rem;
}

h2{
    font-family: 'raleway', sans-serif;
    font-size: 3.8rem;
    letter-spacing: .1rem;;
}

h3{
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: .1rem;
}

h4{
    font-family: 'raleway', sans-serif;
    font-size: 2.5rem;
}

h5{
    font-family: 'raleway', sans-serif;
    font-size: 2rem;
}


h6{
    font-family: 'raleway', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

p{
    font-family: 'raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: .2rem;
    color: black;
}

.introductionPage{
    width:95%;
    margin:1.5% 2.5% 0% 2.5%;
    background-color: #EABD9D;
    border: solid 1px #222E22;
}

.intro{
    display:flex;
    background-color: #222E22;
    height:12rem;
    filter: drop-shadow( 0px 3px 3px black);
    color: #EFE3CF;
    font-family: 'raleway', sans-serif;
    
}
 
.rightIntro{
position: relative;
font-family: 'raleway', sans-serif;
margin-top:0%;
margin-left: 15%;
}

.midIntro{
    margin-right: 150px;
    align-items: center;
}

.leftIntro{
position:relative;
display:flex;
Margin-top: 0%;
margin-left: 30px;
}

.aboutMe{
    display:flex;
    flex-direction: row;
    margin:2%
}

.paraContainer{
    width: 50%;
}

.para1{
    display:flex;
    justify-content:start;
    text-align:left;
    margin-top: 18%;
    margin-right: 10%;
    padding-bottom: 20%;
    padding-left: 5%;
}

.para2{
    display:flex;
    justify-content:flex-end;
    text-align: right;
    align-items:flex-end;
    margin-left: 8%;
    padding-right: 4%;

}

.myPic{
margin-left: 2%;
margin-right: 2%;
margin-top: 2%;
width:50%;

}
.bottomCaption{
    text-align: center;
    letter-spacing: 1px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -100px;
    z-index: 2;
}

.content{
    margin: 0 auto;
    font-family: 'raleway', sans-serif;
}  

button{
    display:inline-block;
    justify-content: center;
    font-family: 'raleway', sans-serif;
    font-size: 21px;
    color: white;
    background-color:#222E22;
    outline: 1px #000000;
    margin-bottom: 3%;
    padding: 15px;
    filter: drop-shadow( 0px 3px 3px black);
}

.bottomCaption button:hover{
    transform: scale(1.1,1.1);
}

.skillsPage{
    width:95%;
    margin:3% 2.5% 0% 2.5%;
    background-color: #EABD9D;
    border: solid 1px #222E22;
}

.skillsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    padding-top: 6%;
    padding-left: 22%;
}

.skillDescripts{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin: 0px;
}

.descripts{
    display: flex;
    margin-left: 0%;
    margin-top: 0%;
    justify-content:center;
    width:97%;

}
.descripts li{
    list-style: none;
    font-family: 'EB Garamond', serif;
    display:flex;
    align-items:center;
    padding:25px;
    font-size: 28px;
    letter-spacing: 1px;
    color: #222E22;
}

.aboutSkills{
    display:flex;
    flex-direction: column;
}

.uxContainer{
    width:95%
}

.uxSkills1{
    display:flex;
    justify-content:end;
    text-align:left;
    margin-left:5%;
    margin-right:35%; 
    padding-top: 4%;
    padding-bottom:5%;
 }

.uxSkills2{
    display:flex;
    justify-content:end;
    text-align: right;
    margin-left: 35%;
    margin-right: 1%; 
    padding-bottom:4%;  
}

.skillSection{
    display:flex;
    flex-direction: row;
    width:95%;
    height:fit-content;
    margin-left: 1%;
    margin-right: .5%;
    padding: 1.5%;
    align-items: center;
    justify-content: space-evenly;
}

.skillImage{
    height:135px; 
    width:135px;
    padding-left: 2%;
    padding-right: 2%;
}
.skillsContainer{
    display:flex;
    flex-direction: row;
    width:30%;
    height: 40%;
    padding-top: 0%;
    align-items:center;
    justify-content: space-evenly;
    color:#222E22;
}

.skillsCaption{
    text-align: center;
    letter-spacing: 1px;
    padding-left: 2%;
    padding-right: 2%;
}

.workPage{
    width:95%;
    margin:3% 2.5% 0% 2.5%;
    background-color: #EABD9D;
    border: solid 1px #222E22;
}

.workTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-top: 6%;
    padding-left: 42%;
}

.workGrid{
    margin:5%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}

.project{
    display:grid;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.project button{
    display:inline-block;
    justify-content: center;
    font-family: 'raleway', sans-serif;
    font-size: 21px;
    color: white;
    background-color:#222E22;
    outline: 1px #000000;
    margin-left:30%;
    padding: 15px;
    width: 40%;
    filter: drop-shadow( 0px 3px 3px black);
}
.project button:hover{
    transform: scale(1.1,1.1);
}

.copyright{
    margin-right: 5%;
    margin-top: 8%;
}

.copywriteText{
    display:flex;
    margin-right: 3%;
    margin-top:10%;
    letter-spacing: 0px;   
}

footer{
    margin:0px !important;
    background-color: #EFE3CF;
    display:flex;
    justify-content:space-between ;
    align-items:center; 
    width:100%;
}

@media only screen and (max-width:600px){

    h1{
        font-family: 'EB Garamond', serif;
        font-style: italic;
        font-size: 3.5rem;
        letter-spacing: .1rem;
    }
    
    h2{
        font-family: 'raleway', sans-serif;
        font-size: 3rem;
        letter-spacing: .1rem;;
    }
    
    h3{
        font-family: 'raleway', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: .1rem;
    }
    
    h4{
        font-family: 'raleway', sans-serif;
        font-size: 2.5rem;
    }
    
    h5{
        font-family: 'raleway', sans-serif;
        font-size: 2rem;
    }
    
    
    h6{
        font-family: 'raleway', sans-serif;
        font-size: 1.5rem;
        letter-spacing: .1rem;
    }
    
    p{
        font-family: 'raleway', sans-serif;
        font-size: 1rem;
        letter-spacing: .2rem;
        color: black;
    }

.intro{
    display:flex;
    flex-direction: row;
    background-color: #222E22;
    height:10em;
    filter: drop-shadow( 0px 3px 3px black);
    color: #EFE3CF;
    font-family: 'raleway', sans-serif; 
}

.rightIntro{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-family: 'raleway', sans-serif;
    margin-top:0%;
    margin-left: 3%;
}
        
.midIntro{
    display:flex;
    flex-direction: row;
    margin-right: 1rem;
}
        
.leftIntro{  
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    Margin-top: 5%;
    margin-left: .1rem;
    padding-left: 17%;
    padding-bottom: 1%;
}

.leftIntro h1{
    color:ffffff;
    outline-color: #222E22;
    filter: drop-shadow( 0px 3px 3px #222E22);
}
.aboutMe{
    display:flex;
    flex-direction: column-reverse;
    margin:2%
}

.paraContainer{
    width: 100%;
}

.myPic{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    width:100%;
}

.para1{
    display:flex;
    justify-content:start;
    text-align:left;
    margin-top:1%;
    margin-right:10%;
    padding-bottom:10%;
    padding-left:5%;
}
 
.para2{
    display:flex;
    justify-content:flex-end;
    text-align:right;
    align-items:flex-end;
    margin-left: 8%;
    padding-right: 4%;
    padding-bottom: 10%;
}
.bottomCaption{
    text-align: center;
    letter-spacing: 1px;
    padding-top:2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-top: -100px;
    z-index: 2;
}

.skillsTitle{
    display: flex;
    height: 1.5rem;
    padding-top: 15%;
    padding-left: 17%;
}

.skillSection{
    display:flex;
    flex-direction:column;
    width:90%;
    margin-left: 3%;
    padding: 1.5%;
    align-items: center;
    justify-content: space-evenly;
}

.skillsContainer{
    display:flex;
    flex-direction: column;
    width:60%;
    height: 40%;
    margin-left:8px;
    padding-top: 2%;
    align-items:center;
    justify-content: space-evenly;
}
 
.skillImage{
    height:135px; 
    width:135px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.workGrid{
    display:grid;
    grid-template-columns: 1fr;
    gap:30px;
 }

 .workTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding-top: 14%;
    padding-left: 35%;
 }

.project button{
    display:inline-block;
    justify-content: center;
    font-family: 'raleway', sans-serif;
    font-size: 21px;
    color: white;
    background-color:#222E22;
    outline: 1px #000000;
    margin-left:25%;
    padding: 15px;
    width: 50%;
    filter: drop-shadow(0px 3px 3px black);
}
}